name: Lint

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.13.0
    - run: npm install -g npm@latest
    - run: npm install
    - run: npm run lint
      env:
        CI: true
